.containerInicio{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  align-items: center;
  -webkit-text-stroke: 1px black;
  font-size: 34px;
  width: 100%;
  background: rgb(0,0,0);
  background-image: url(../../images/Diseño\ sin\ título\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
} 


.img-logo {
  width: 400px;
}
